
<div class="question__avatar">
  <div class="question__avatar__image">
    <img src="https://upload.wikimedia.org/wikipedia/en/d/d5/Heart_Beat_-_Wang_Lee_Hom.jpg" />
  </div>
</div>

  <div ng-attr-id="answer-form-{{::id}}"></div>
   <div>
    <a ng-click="group.answer(question)">Submit</a>
    <a ng-click="group.cancelResourceCreation(question)">Cancel</a>
  </div>

  <div ng-if="question.answerHasNoBody" class="ui small negative message">
    <small>Sorry, I need more information about your question.</small>
  </div>
