<!-- Initialize Quill editor -->


  <div class="ui large attached message ">
    <div class="header">Ask a Question!</div>
    <p>Make sure you specify the class you would like to post to.</p>
  </div>

        <div class="ui large form attached fluid segment">

            <div ng-repeat = "error in errors track by $index" class="ui small negative message">
              <small>{{error}}</small>
            </div>
            <div ng-show="noBody" class="ui small negative message">
              <small>Sorry, I need more information about your question.</small>
            </div>


          <div class="field">
            <label>Title</label><small>* minimum 7 chars</small>
            <input type="text"
            class="form-control"
            placeholder="Title of question"
            ng-model="title"></input>

          </div>

            <div id="toolbar">
              <div id="question-editor" style="border: 1px solid rgba(34,36,38,.15)"></div>

            </div>

          <div class="field">
            <br>
            <label>Class</label><small>* group must exist</small>
            <input type="text"
            class="form-control"
            placeholder="Class to ask"
            ng-model="topic"></input>
          </div>

          <a ng-click="questionModal.askInQuestionModal(title, topic)" class="ui green submit button">Ask Question</a>
          <a ng-click="close()">Cancel</a>

        </div>
